<!DOCTYPE html>
<html>
  <head>
      <!-- layout -->
      <%-include("common/layout_header")%>

      <link rel='stylesheet' href='<%= link %>' />
  </head>
  <body>
    <!-- 公共头部 -->
    <%-include("common/header")%>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- 公共页脚 -->
    <script src="<%= script %>"></script>
  </body>
</html>
